@import "tailwindcss";

@theme {
  --color-whop-primary: #FF7043;
  --color-whop-dark: #1F1F1F;
  --color-whop-darker: #0F0F0F;
  --color-whop-gray: #272727;
  --color-whop-lightgray: #AAAAAA;

  --color-background: var(--color-whop-darker);
  --color-foreground: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
